<div class="container form my-5" *ngIf="proyect">
    <h1>Modificar los datos del proyecto</h1>
    <div class="row my-5">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="proyect.nombre" required>
                </div>
                <div class="form-group">
                    <label for="urlImagen">URL de la imagen</label>
                    <input type="text" class="form-control" id="urlImagen" name="urlImagen" [(ngModel)]="proyect.urlImagen">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción del proyecto</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="proyect.descripcion">
                </div>
                <div class="form-group">
                    <label for="urlProyecto">URL del proyecto</label>
                    <input type="text" class="form-control" id="urlProyecto" name="urlProyecto" [(ngModel)]="proyect.urlProyecto">
                </div>
                <div class="form-group">
                    <label for="fechaRealizacion">Fecha de realización del proyecto</label>
                    <input type="text" class="form-control" id="fechaRealizacion" name="fechaRealizacion" [(ngModel)]="proyect.fechaRealizacion">
                </div>
                <button type="submit" class="btn btn-primary my-4">
                    Guardar cambios
                </button>
                <a href="https://rag-ap-frontend.web.app/portfolio" id="cancel" name="cancel" class="btn btn-primary m-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>