<!-- PROYECTOS -->
<div class="titulo-seccion">
    <h2>Proyectos</h2>
    <a href="/nuevoproyecto" name="btn-nuevo" class="btn btn-dark btn-nuevo btn-sq mx-2" *ngIf="isLogged">+</a>
</div>
<div class="row row-seccion ">
    <div class="col-sm-12 col-seccion m-0 ">
        <div class="seccion">
            <div>
                <ul class="items-list" *ngFor="let Proyecto of proyect">
                    <li class="item-container">
                        <div class="btn-edit-container">
                            <a href="/editarproyecto/{{Proyecto.id}}" name="edit" class="btn btn-dark btn-sq mx-2" *ngIf="isLogged"><i class="bi bi-pencil"></i></a>
                            <button id="delete" name="delete" class="btn btn-dark btn-sq mx-2" (click)="borrar(Proyecto.id)" *ngIf="isLogged"><i class="bi bi-trash"></i></button>    
                        </div>
                        <div class="item">
                            <div class="data-container proyect-data-container">
                                    <div class="proyect-image-container">
                                        <img 
                                            class="proyect-image"
                                            src={{Proyecto.urlImagen}}/>
                                    </div>
                                    <div class="proyect-info">
                                        <div>
                                            <h3>{{Proyecto.nombre}}</h3>
                                            <p>{{Proyecto.descripcion}}</p>
                                            <p><a href={{Proyecto.urlProyecto}}>{{Proyecto.urlProyecto}}</a></p>
                                            <p>{{Proyecto.fechaRealizacion}}</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>