<!-- PROYECTOS -->
<div class="titulo-seccion">
    <h2>Proyectos</h2>
<!--                 <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div> -->
</div>
<div class="row row-seccion ">
    <div class="col-sm-12 col-seccion m-0 ">
        <div class="seccion">
            <div>
                <ul class="items-list">
                    <li class="item-container">
                        <div class="item">
                            <div class="data-container proyect-data-container">
                                <!-- <a href="#"> -->
                                    <div class="proyect-image-container">
                                        <img 
                                            class="proyect-image"
                                            src="https://www.cemmarg.com.ar/sites/default/files/styles/600/public/logo-utn-frc.png"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="proyect-info">
                                        <div>
                                            <h3>Página web 1</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus delectus, dolor nulla tempore aliquid perspiciatis fugiat vel doloremque magni accusamus deleniti nam reprehenderit eum obcaecati tempora excepturi in, odio similique.</p>
                                            <p><a href="www.pagina1.com.ar">www.pagina1.com.ar</a></p>
                                            <p>2022</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                            
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>

                    <li class="item-container">
                        <div class="item">
                            <div class="data-container proyect-data-container">
                                <!-- <a href="#"> -->
                                    <div class="proyect-image-container">
                                        <img 
                                            class="proyect-image"
                                            src="https://www.cemmarg.com.ar/sites/default/files/styles/600/public/logo-utn-frc.png"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="proyect-info">
                                        <div>
                                            <h3>Página web 1</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus delectus, dolor nulla tempore aliquid perspiciatis fugiat vel doloremque magni accusamus deleniti nam reprehenderit eum obcaecati tempora excepturi in, odio similique.</p>
                                            <p><a href="www.pagina1.com.ar">www.pagina1.com.ar</a></p>
                                            <p>2022</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                            
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>


                </ul>
            </div>
        </div>
    </div>
    

</div>