<!-- FORMACIÓN COMPLEMENTARIA -->

<div class="titulo-seccion">
    <!-- <div class=""> -->

        <h2>Formación complementaria</h2>
        <a href="/nuevaformacioncomp" name="btn-nuevo" class="btn btn-dark btn-nuevo btn-sq mx-2" *ngIf="isLogged">+</a>
    <!-- </div> -->
    
<!--                 <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div> -->
</div>
<div class="row row-seccion ">
    <div class="col-sm-12 col-seccion m-0 ">
        <div class="seccion">
            <div>
                <ul class="items-list" *ngFor="let FormacionComp of formacionComp">
                    <li class="item-container">
                        <div class="btn-edit-container">
                            <a href="/editarformacioncomp/{{FormacionComp.id}}" name="edit" class="btn btn-dark btn-sq mx-2" *ngIf="isLogged"><i class="bi bi-pencil"></i></a>
                            <button name="delete" class="btn btn-dark btn-sq mx-2" (click)="borrar(FormacionComp.id)" *ngIf="isLogged"><i class="bi bi-trash"></i></button>    
                        </div>
                        <div class="item">
                            <div class="data-container">

                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src={{FormacionComp.urlLogo}}
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>

                                            <h3>{{FormacionComp.titulo}}</h3>
                                            <p>{{FormacionComp.institucion}}</p>
                                            <p>{{FormacionComp.descripcion}}</p>
                                            <p>{{FormacionComp.fechaDesde}} - {{FormacionComp.fechaHasta}}</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>


                </ul>
            </div>
        </div>
    </div>
    

</div>