<!-- FORMACIÓN COMPLEMENTARIA -->
<!-- 
            <p>.</p>
            <p>CCNA 2: Routers and Routing Basics, Universidad Tecnológica Nacional, segundo semestre de 2003.</p>
            <p>CCNA 1: Networking Basics, Universidad Tecnológica Nacional, primer semestre de 2003.</p>
 -->

<div class="titulo-seccion">
    <h2>Formación complementaria</h2>
<!--                 <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div> -->
</div>
<div class="row row-seccion ">
    <div class="col-sm-12 col-seccion m-0 ">
        <div class="seccion">
            <div>
                <ul class="items-list">
                    <li class="item-container">
                        <div class="item">
                            <div class="data-container">
                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src="https://argentinaprograma.inti.gob.ar/pluginfile.php/127650/course/overviewfiles/MINIATURA-ARGEPROGR.jpg"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>
                                            <h3>Argentina Programa: #YoProgramo</h3>
                                            <p>Perfil Full Stack Junior: HTTP, CSS, JavaScript, Java, REST, Git, bases de datos relacionales y NoSQL, entre otros.</p>
                                            <p>Ministerio de Producción de la Nación y la Cámara de Empresas de Software y Servicios Informáticos de Argentina (CESSI).</p>
                                            <p>Febrero de 2022 - Actualidad</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>


                    <li class="item-container">
                        <div class="item">
                            <div class="data-container">
                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src="https://argentinaprograma.inti.gob.ar/pluginfile.php/127650/course/overviewfiles/MINIATURA-ARGEPROGR.jpg"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>
                                            <h3>Argentina Programa: #SéProgramar</h3>
                                            <p>JavaScript – Ruby</p>
                                            <p>Ministerio de Producción de la Nación y la Cámara de Empresas de Software y Servicios Informáticos de Argentina (CESSI).
                                            <p>Octubre de 2021 – Diciembre de 2021</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>

                    <li class="item-container">
                        <div class="item">
                            <div class="data-container">
                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src="https://www.cemmarg.com.ar/sites/default/files/styles/600/public/logo-utn-frc.png"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>
                                            <h3>Desarrollo web</h3>
                                            <p>HTML, CSS, JavaScript</p>
                                            <p>Capacitación por cuenta propia.</p>
                                            <p>Agosto de 2021 – Actualidad</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>



                </ul>
            </div>
        </div>
    </div>
    

</div>