<!-- Barra de navegación -->
<nav class="navbar bg-dark">
    <div class="navbar" >
        <img src="../../../assets/Logos/APLogo-20-20 (2).png" alt="Logo Argentina Programa" height="50vp" class="d-inline-block align-text-top">
        <img src="../../../assets/Logos/LogosInti.png" alt="Logo INTI" height="50vp" class="d-inline-block align-text-top">
    </div>
    <div class="navbar">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/Logos/instagram.png" alt="Instagram" height="38vp" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../../assets/Logos/twitter.png" alt="Twitter" height="38vp" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">
            <img src="../../../assets/Logos/facebook.png" alt="Facebook" height="38vp" class="d-inline-block align-text-top">
        </a>
        <button class="btn btn-outline-success mx-3" type="submit">Login</button>
    </div>
</nav>