<!-- Barra de navegación -->
<div id="navbar">
    <div class="row container-xxl mx-0">
        <!-- justify-content-between justify-content-md-start -->
        <div class="col d-flex justify-content-between justify-content-md-start py-3 px-0"> <!-- LOGOS AP / INTI -->
            <div><img src="../../../assets/img/logo_AP.png" alt="Logo Argentina Programa" height="50vp" class=""></div>
            <div><img src="../../../assets/img/LogosInti.png" alt="Logo INTI" height="50vp" class=""></div>
        </div>

        
        <!-- justify-content-between justify-content-md-end -->
        <div id="redes_sociales" class="col d-flex justify-content-evenly justify-content-sm-end  py-3"> <!-- REDES SOCIALES -->
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/instagram.png" alt="Instagram" height="38vp" class="d-inline-block align-text-top mx-2">
            </a>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/twitter.png" alt="Twitter" height="38vp" class="d-inline-block align-text-top mx-2">
            </a>
<!--             <a class="navbar-brand" href="#">
                <img src="../../../assets/img/facebook.png" alt="Facebook" height="38vp" class="d-inline-block align-text-top">
            </a> -->


            <button class="btn btn-outline-success mx-3" type="button" (click)="login()" *ngIf="!isLogged">Iniciar sesión</button>
            <button class="btn btn-outline-success mx-3" type="button" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
            <!-- <button class="btn btn-outline-success mx-3" type="submit"><img src="../../../assets/img/menu.png" alt="Menú" height="23vp" class="d-inline-block align-text-top"></button> -->
        </div>
    



    </div>
</div>