h1.navbar {
    color:aliceblue
}

.header {
    background-color:#44546A
}

.headertext {
    background-color:rgb(236, 236, 236)
}


/* BOTÓN */

.btn-navbar {
    background-color: #44546A;
    color:rgb(236, 236, 236);
    border-radius: 10%;
    border-color:rgb(236, 236, 236);
    margin-left:1vw
}

.btn-navbar:hover {
    background-color:rgb(236, 236, 236) ;
    border-color: #44546A;
    color: #44546A;
}

.btn-navbar:focus {
    background-color: #44546A;
    color:rgb(236, 236, 236);
    border-color:rgb(236, 236, 236);
}


/* ALINEACIÓN */
.fondo-header {
    align-self: center;
    padding: 0;
    margin: 0;
}

.fondo-header img {
    width: 100%;
}

.nav-icon {
    margin-right:1vw
}









