<div class="container form my-5" *ngIf="expLab">
    <h1>Editar experiencia laboral</h1>
    <div class="row my-5">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEmpresa">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" [(ngModel)]="expLab.nombreEmpresa" required>
                </div>
                <div class="form-group">
                    <label for="urlLogo">URL del logo</label>
                    <input type="text" class="form-control" id="urlLogo" name="urlLogo" [(ngModel)]="expLab.urlLogo" required>
                </div>
                <div class="form-group">
                    <label for="puesto">Puesto</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="expLab.puesto" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción de la experiencia laboral</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="expLab.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="fechaDesde">Fecha desde</label>
                    <input type="text" class="form-control" id="fechaDesde" name="fechaDesde" [(ngModel)]="expLab.fechaDesde" required>
                </div>
                <div class="form-group">
                    <label for="fechaHasta">Fecha hasta</label>
                    <input type="text" class="form-control" id="fechaHasta" name="fechaHasta" [(ngModel)]="expLab.fechaHasta" required>
                </div>
                <button type="submit" class="btn btn-primary my-4">
                    Guardar cambios
                </button>
                <<a href="https://rag-ap-frontend.web.app/portfolio" name="cancel" class="btn btn-primary m-3">Cancelar</a>
            </form>
        </div>
    </div>
</div>