<!-- EXPERIENCIA -->

<div class="titulo-seccion">
    <h2>Experiencia laboral</h2>
<!--                 <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div> -->
</div>
<div class="row row-seccion ">
    <div class="col-sm-12 col-seccion m-0 ">
        <div class="seccion">
            <div>
                <ul class="items-list">
                    <li class="item-container">
                        <div class="item">
                            <div class="data-container">
                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src="https://scontent.frcu1-1.fna.fbcdn.net/v/t39.30808-1/298191009_5290205867726329_8504576489226039687_n.jpg?stp=c9.9.142.142a_dst-jpg_p160x160&_nc_cat=103&ccb=1-7&_nc_sid=1eb0c7&_nc_eui2=AeH_muuKekPxyCAdk5iPBP45ekbSwlV6Uj96RtLCVXpSP7yp8nebPoidwAVW-Mq0pat82DnLmbZV8vo4Yno72gDf&_nc_ohc=dt_nN8VnjxAAX8BLaq_&_nc_ht=scontent.frcu1-1.fna&oh=00_AT9jFgSBej8cpYUeKgw3GWFhdwL0VxSLH9wT4AkZRYK4RA&oe=632DA8AF"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>
                                            <h3>Liga Cordobesa de Fútbol (LCF)</h3>
                                            <p>Mantenimiento de redes de computadoras y soporte técnico.<br>
                                                Dirección: 9 de Julio 660. Te: 4226042.<br>
                                                Referencias: Emeterio Farías (tesorero y expresidente)</p>
                                            <p>2007 - actualidad</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>


                    <li class="item-container">
                        <div class="item">
                            <div class="data-container">
                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src="https://scontent.frcu1-1.fna.fbcdn.net/v/t1.6435-9/175722518_1416627298714560_2056632946860708517_n.jpg?stp=dst-jpg_p180x540&_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=emXnzWfsjsgAX-PpT8H&_nc_ht=scontent.frcu1-1.fna&oh=00_AT9zycNYqy7k13Hu894JIV0MAX3qcmFa3CFJpySIAwYfNg&oe=634D4DC4"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>
                                            <h3>IPEMyT N.º 310 “Puerto Argentino”</h3>
                                            <p>Asignaturas: Matemática, Educación Tecnológica y Formación para la Vida y el Trabajo.<br>
                                                Referencias: Isabel Aráoz (directora) - Gabriel Quiliche (vicedirector)</p>
                                            <p>2007 - actualidad</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>

                    <li class="item-container">
                        <div class="item">
                            <div class="data-container">
                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src="https://www.cemmarg.com.ar/sites/default/files/styles/600/public/logo-utn-frc.png"
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>
                                            <h3>Universidad Tecnológica Nacional (UTN)</h3>
                                            <p>Ingeniería en Sistemas de Información</p>
                                            <p>1998 - 2004</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>



                </ul>
            </div>
        </div>
    </div>
    

</div>
<!-- <div class="row row-seccion">
    <div class="col-sm-12 col-seccion"> 
        <div class="seccion">
            <div class="titulo-seccion">
                <h2>Experiencia laboral</h2>
            </div>

            <p> 	Mantenimiento de redes de computadoras y soporte técnico en forma autónoma para empresas y clientes particulares.<br>
                Actualmente: Liga Cordobesa de Fútbol – 9 de Julio 660. Te: 4226042.<br>
                Referencias: Emeterio Farías (tesorero y expresidente)
            </p>
            <p>2007 - actualidad 	Profesor de nivel medio.
                IPEMyT N.º 310 “Puerto Argentino”. Sargento Ríos s/n esq. Cabo Ludueña. Te: 3434143 <br>
                Asignaturas: Matemática, Educación Tecnológica, Física, Formación para la Vida y el Trabajo.<br>
                Referencias: Isabel Aráoz (directora) - Gabriel Quiliche (vicedirector) – Marisa Mandelli (jefa del departamento de Matemática)<br>
                </p>
        </div>
    </div>
</div> -->

<!-- <div class="card mat-card">
    <div id="experience">
        <div class="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li>
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img 
                                    class="logo-image"
                                    src="https://www.google.com.ar/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
                                    alt=""
                                />
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>Bakend Developer</h3>
                                    <p>Pixar - <span>Jornada parcial</span></p>
                                    <h4>mar 2019 - actualidad - 2 años y 6 meses</h4>
                                    <h4>Buenos Aires, Argentina</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->