<!-- EXPERIENCIA -->

<div class="titulo-seccion">
    <!-- <div class=""> -->

        <h2>Experiencia laboral</h2>
        <a href="/nuevaexperiencia" name="btn-nuevo" class="btn btn-dark btn-nuevo btn-sq mx-2" *ngIf="isLogged">+</a>
    <!-- </div> -->
    
<!--                 <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div> -->
</div>
<div class="row row-seccion ">
    <div class="col-sm-12 col-seccion m-0 ">
        <div class="seccion">
            <div>
                <ul class="items-list" *ngFor="let Experiencia of expe">
                    <li class="item-container">
                        <div class="btn-edit-container">
                            <a href="/editarexperiencia/{{Experiencia.id}}" name="edit" class="btn btn-dark btn-sq mx-2" *ngIf="isLogged"><i class="bi bi-pencil"></i></a>
                            <button id="delete" name="delete" class="btn btn-dark btn-sq mx-2" (click)="borrar(Experiencia.id)" *ngIf="isLogged"><i class="bi bi-trash"></i></button>    
                        </div>
                        <div class="item">
                            <div class="data-container">

                                <!-- <a href="#"> -->
                                    <div class="logo-container">
                                        <img 
                                            class="logo-image"
                                            src={{Experiencia.urlLogo}}
                                            
                                            alt=""
                                        />
                                    </div>
    
                                    <div class="list-info">
                                        <div>

                                            <h3>{{Experiencia.nombreEmpresa}}</h3>
                                            <p>{{Experiencia.puesto}}</p>
                                            <p>{{Experiencia.descripcion}}</p>
                                            <p>{{Experiencia.fechaDesde}} - {{Experiencia.fechaHasta}}</p>
                                        </div>
                                    </div>
                                    
                                <!-- </a> -->
                            </div>
                        </div>
                        
<!--                         <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div> -->
                    </li>


                </ul>
            </div>
        </div>
    </div>
    

</div>
<!-- <div class="row row-seccion">
    <div class="col-sm-12 col-seccion"> 
        <div class="seccion">
            <div class="titulo-seccion">
                <h2>Experiencia laboral</h2>
            </div>

            <p> 	Mantenimiento de redes de computadoras y soporte técnico en forma autónoma para empresas y clientes particulares.<br>
                Actualmente: Liga Cordobesa de Fútbol – 9 de Julio 660. Te: 4226042.<br>
                Referencias: Emeterio Farías (tesorero y expresidente)
            </p>
            <p>2007 - actualidad 	Profesor de nivel medio.
                IPEMyT N.º 310 “Puerto Argentino”. Sargento Ríos s/n esq. Cabo Ludueña. Te: 3434143 <br>
                Asignaturas: Matemática, Educación Tecnológica, Física, Formación para la Vida y el Trabajo.<br>
                Referencias: Isabel Aráoz (directora) - Gabriel Quiliche (vicedirector) – Marisa Mandelli (jefa del departamento de Matemática)<br>
                </p>
        </div>
    </div>
</div> -->

<!-- <div class="card mat-card">
    <div id="experience">
        <div class="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li>
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <img 
                                    class="logo-image"
                                    src="https://www.google.com.ar/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
                                    alt=""
                                />
                            </div>
                            <div class="list-info">
                                <div>
                                    <h3>Bakend Developer</h3>
                                    <p>Pixar - <span>Jornada parcial</span></p>
                                    <h4>mar 2019 - actualidad - 2 años y 6 meses</h4>
                                    <h4>Buenos Aires, Argentina</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->