<!-- HARD & SOFT SKILLS -->
<div class="titulo-seccion">
    <h2>Competencias</h2>
<!--                 <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div> -->
</div>
<div class="row row-seccion ">
    <div class="col-sm-12 col-seccion m-0 ">
        <div class="seccion">
            <div class="skill-container">
                <div class="skill-item">
                    <circle-progress
                        [percent]="85"    
                        [imageSrc]="'https://cdn-icons-png.flaticon.com/512/732/732212.png?w=360'"
                    ></circle-progress>
                    <h4 class="skill-title">HTML5</h4>
                </div>
                <div class="skill-item">
                    <circle-progress
                        [percent]="85"    
                        [imageSrc]="'https://cdn-icons-png.flaticon.com/512/732/732212.png?w=360'"
                    ></circle-progress>
                    <h4 class="skill-title">HTML5</h4>
                </div>
                <div class="skill-item">
                    <circle-progress
                        [percent]="85"    
                        [imageSrc]="'https://cdn-icons-png.flaticon.com/512/732/732212.png?w=360'"
                    ></circle-progress>
                    <h4 class="skill-title">HTML5</h4>
                </div>
                <div class="skill-item">
                    <circle-progress
                        [percent]="85"    
                        [imageSrc]="'https://cdn-icons-png.flaticon.com/512/732/732212.png?w=360'"
                    ></circle-progress>
                    <h4 class="skill-title">HTML5</h4>
                </div>
                <div class="skill-item">
                    <circle-progress
                        [percent]="85"    
                        [imageSrc]="'https://cdn-icons-png.flaticon.com/512/732/732212.png?w=360'"
                    ></circle-progress>
                    <h4 class="skill-title">HTML5</h4>
                </div>
                <div class="skill-item">
                    <circle-progress
                        [percent]="85"    
                        [imageSrc]="'https://cdn-icons-png.flaticon.com/512/732/732212.png?w=360'"
                    ></circle-progress>
                    <h4 class="skill-title">HTML5</h4>
                </div>
            </div>
         </div>
    </div>
    

</div>