<!-- ACERCA DE -->
<div class="titulo-seccion">
    <h2>Objetivo laboral</h2>
<!--                 <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
    </div> -->
</div>
<div class="row row-seccion">
    <div class="col-sm-12 col-seccion"> 
        <div class="seccion">
            <p>Afianzarme en el campo del desarrollo de software, adquiriendo experiencia y realizando aportes que contribuyan al logro de los objetivos de la empresa.</p>
        </div>
    </div>
</div>